<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marktony.translator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

        </activity>

        <activity
            android:name=".ui.SettingsPreferenceActivity"
            android:label="@string/settings"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.SearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:label="@string/action_search"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop" />

        <activity android:name=".ui.OpenSourceLicensesActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/open_source_licenses"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout" />

        <service android:name=".service.ClipboardService">
            <intent-filter>
                <action android:name="com.marktony.translator.ClipboardService"/>
            </intent-filter>
        </service>
        
        <receiver android:name=".receiver.StartClipboardServiceAtBootReceiver"
            android:label="StartClipboardServiceAtBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>